@model ProductsListViewModel
@*@model IQueryable<Product>*@

<div class="row">
    @foreach (var p in Model.Products) {
        <partial name="ProductSummary" model="p"/>
    }</div><div page-model="@Model.PagingInfo" page-action="Index"></div>